<div class="creat-post">
  <form class="column" action="/dashboard" method="POST">
    <div class="column">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="column">
      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea>
    </div>
    <button type="submit">Create Post</button>
  </form>
</div>