/* RESETS */
* {
  /* margin: 0;
    padding: 0; */
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #ffb8d9;
}

nav {
  background-color: #d35a93;
}
nav h3 {
  background-color: #d35a93;
}
nav p {
  background-color: #d35a93;
}
nav a {
  background-color: #d35a93;
}



a {
  color: #000000;
}

form {
  width: 400px;
  margin: 0 auto;
}

form>* {
  padding: 6px 10px;
  margin-bottom: 6px;
}

/* GLOBAL CLASSES */
.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mr-2 {
  margin-right: 15px;
}

/* CUSTOM STYLES */

nav a {
  text-decoration: none;
}

nav a.active,
nav a:hover {
  text-decoration: underline;
}