/* RESETS */
* {
  box-sizing:border-box;
  font-family: sans-serif;
  color: #3e3e3e;
}



body {
  background-color: #ffeaf6;
  margin: 25px 25px;
}

a {
  color: #000000;
}

form {
  width: 400px;
  margin: 0 auto;
}

form>* {
  padding: 6px 10px;
  margin-bottom: 6px;
}

/* GLOBAL CLASSES */
.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mr-2 {
  margin-right: 15px;
}

/* CUSTOM STYLES */

header {
  width: 100%;
  /* background-color: #cf1f9a; */
background-image: url('../images/pink-mosiac.avif');
  padding: 10px 20px; 
 
}

nav a.active{
color: #ffffff;
}

nav a:hover {
  text-decoration: underline;
  color: #c34982;
}

.nav-links {
  width: 100%;
  justify-content: flex-end;
  
}
.nav-bar{
  display: flex; 
  width: 100%;
  /* background-color: #cf1f9a;  */
}

nav p {
  margin: 0;

}
nav a {
  text-decoration: none;
  color: #3e3e3e; /* Link color */
  margin: 0 10px; /* Spacing between links */
  /* background-color: #cf1f9a; */
}

.comment-form {
border: solid .5px #3e3e3e;
margin-bottom: 25px;
}